//
// imports
@import "html/index";
@import "html/hypercars";
@import "html/historia";
@import "html/dealers";
@import "html/contacto";

/* reset */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}