@import "../utilidades/mixin";
@import "../utilidades/extend";

.bodycontacto{
    background-image: url(../img/9dbfe5d9f34ffafd2c5ba2a2d0867be0.jpg);
    @extend %fondo;
}

main{
    .h1-contacto{
        margin: 4rem;
        font-family: 'Goldman', cursive;
        font-family: 'Gruppo', cursive;
        font-weight: bold;
        font-style: italic;
    }

    .formulario{
        margin-top: 70px;
        display: flex;
        justify-content: center;
        font-family: 'Goldman', cursive;
        font-family: 'Gruppo', cursive;
        font-weight: bold;

        .contenedor-dentro-formulario{
            font-size: 30px;
            background-color: #e2e2e257;
            padding: 15px;
            border: 2px solid black;
            border-radius: 10px;

            .form{
                font-size: 20px;
                display: flex;
                justify-content: flex-end;
                margin: 5px;

                input{
                    border: 0.5px solid black;
                    border-radius: 3px;
                }
            }
        }
    }

    .h2-contacto{
        color: antiquewhite;
        font-size: 40px;
        margin-top: 30px;
        text-align: center;
    }

    .p-contacto{
        margin-top: 30px;
        color: antiquewhite;
        text-align: center;
    }
}

.contenedor-footer{
    .h3-contacto{
        color: rgba(0, 0, 0, 0.678);
        position: fixed;
        bottom: 2px;
        left: 8px;
    }
}