@import "../utilidades/mixin";
@import "../utilidades/extend";

.bodyhyper{
    background-image: url(../img/5594016.jpg);
    @extend %fondo;
}

header{

    // menu hamburguesa 
    .menu-hamburguesa-hyper{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .checkbox-toggle{
            display: none;
        }

        .checkbox-toggle:checked ~ .opciones-menu{
            transform: translateX(0);
        }

        .icono-hamburguesa{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
            z-index: 1;
            color: rgb(0, 0, 0);
        }

        .opciones-menu{
            position: fixed;
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            background-color: #181818;
            padding: 20px;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .checkbox-toggle{
                display: none;
            }
    
            .checkbox-toggle:checked ~ .opciones-menu{
                transform: translateX(0);
            }
    
            .icono-hamburguesa{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                cursor: pointer;
                z-index: 1;
            }

            .opciones-lista{
                font-size: 30px;
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                font-family: 'Goldman', cursive;
                font-family: 'Gruppo', cursive;

                li{
                    margin-bottom: 10px;

                    a{
                        color: #fff;
                        text-decoration: none;
                    }     
                                        
                    a:hover{
                        font-size: 2rem;
                        transition: font-size 0.5s ease; /* Transición de medio segundo */
                    }

                    a:not(:hover){
                        font-size: 30px;
                        transition: font-size 0.5s ease;
                    }               
                }
            }

            .redes-sociales{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 45%;
                width: 100%;
                padding-bottom: 20px;

                a{
                    margin: 10px;
                }    

                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    // fin de menu hamburguesa 


    div{
        nav{
            .bannerhyper{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                background: rgb(36, 35, 35);

                .linkhyper{
                    list-style: none;
                    
                    a{
                        font-size: 1.5rem;
                        color: rgb(253, 249, 249);
                        text-decoration: none;
                        font-family: 'Goldman', cursive;
                        font-family: 'Gruppo', cursive;
                        font-weight: bold;
                    }

                    a:hover{
                        font-size: 1.75rem;
                        transition: font-size 0.5s ease; /* Transición de medio segundo */
                    }

                    a:not(:hover) {
                        font-size: 1.5rem;
                        transition: font-size 0.5s ease;
                    }
                }

                .paganilogo{
                    list-style: none;

                    img{
                        height: 25px;
                    }
                }
            }
        }
    }
}

.mainhyper{

    .h1-hyper{
        font-family: 'Goldman', cursive;
        font-family: 'Gruppo', cursive;
        font-weight: bold;
    }

    .contenedor-hyper{
        margin-top: 5rem;

        .huayra{
            display: flex;
            justify-content: center; 
            gap: 3rem;
        }

        .imola{
            display: flex;
            margin-top: 10rem;
            justify-content: center; 
            gap: 3rem;

            .texto-imola{
                display: flex;
                flex-flow: column;
                align-items: flex-end;
            }
        }

        .zonda{
            display: flex;
            margin-top: 10rem;
            margin-bottom: 10rem;
            justify-content: center; 
            gap: 3rem;
        }
    
        div{
            div{
                img{
                    height: 550px;
                    box-shadow: 5px 5px 5px black;
                }
            }
        }
    } 
}

.contenedor-footer{

    .h3-hyper{
        color: rgba(0, 0, 0, 0.185);
        position: fixed;
        bottom: 2px;
        left: 8px;
    }
}

/* PC */
@media screen and (min-width:851px){
    header{
        .menu-hamburguesa-hyper{
            display: none;
        }        
    }
}

/* tablets */
@media screen and (max-width:850px){

    .contenedor-footer{
        .contenedor-redes{
            display: none;
        }
    }

    .header-hyper{
        div{
            nav{
                .bannerhyper{
                    .linkhyper{
                        display: none;
                    }                    
                }
            }
        }
    }

    .mainhyper{
        .contenedor-hyper{

            .huayra{
                display: flex;
                flex-flow: column;
                align-items: center; 
                gap: 3rem;
            }
    
            .imola{
                display: flex;
                flex-flow: column-reverse;
                align-items: center;
                
                margin-top: 10rem;
                gap: 3rem;
    
                .texto-imola{
                    display: flex;
                    flex-flow: column;
                    align-items: start;
                }
            }
    
            .zonda{
                display: flex;
                flex-flow: column;
                align-items: center; 
                margin-top: 10rem;
                margin-bottom: 10rem;
                gap: 3rem;
            }
        
            div{
                div{
                    img{
                        height: 450px;
                    }
                }
            }
        }
    }
}

/* celulares */
@media screen and (max-width:500px){

    .contenedor-footer{
        .h3-hyper{
            font-size: 10px;
        }        
    }

    .mainhyper{
        .contenedor-hyper{
            div{
                div{
                    img{
                        height: 350px;
                    }
                }
            }
        }
    }
}