@import "../utilidades/mixin";
@import "../utilidades/extend";
@import "../utilidades/variables";

.bodyindex{
    background-image: url(../img/paganii_utopia_2023_4k_8k_4-3840x2160.jpg);
    @extend %fondo;

    animation-name: body;
    animation-duration: 1s;

    @keyframes body {
        0%{
            opacity: 0%;
        }

        50%{
            opacity: 0%;
        }

        100%{
            opacity: 100%;
        }
    }
}


header{
    // menu hamburguesa 
    .menu-hamburguesa-index{
        z-index: 3;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      
        animation-name: hambuerguesa;
        animation-duration: 1s;

        @keyframes hambuerguesa {
            0%{
                transform: translate(50px, 0px);
            }

            50%{
                transform: translate(50px, 0px);
            }

            100%{
                transform: translate(0px, 0px);
            }
        }

        .checkbox-toggle{
            display: none;
        }

        .checkbox-toggle:checked ~ .opciones-menu{
            transform: translateX(0);
        }

        .icono-hamburguesa{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
            z-index: 1;
            color: rgb(179, 168, 152);
        }

        .opciones-menu{
            position: fixed;
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            background-color: #181818;
            padding: 20px;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .checkbox-toggle{
                display: none;
            }
    
            .checkbox-toggle:checked ~ .opciones-menu{
                transform: translateX(0);
            }
    
            .icono-hamburguesa{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                cursor: pointer;
                z-index: 1;
                color: rgb(0, 0, 0);
            }

            .opciones-lista{
                font-size: 30px;
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                font-family: 'Goldman', cursive;
                font-family: 'Gruppo', cursive;

                li{
                    margin-bottom: 10px;

                    a{
                        color: #fff;
                        text-decoration: none;
                    }  
                    
                    a:hover{
                        font-size: 2rem;
                        transition: font-size 0.5s ease; /* Transición de medio segundo */
                    }

                    a:not(:hover){
                        font-size: 30px;
                        transition: font-size 0.5s ease;
                    }
                }
            }

            .redes-sociales{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 45%;
                width: 100%;
                padding-bottom: 20px;

                a{
                    margin: 10px;
                }    

                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    // fin de menu hamburguesa 

    div{
        nav{
            .banner{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                padding-top: 1rem;
                padding-bottom: 1rem;
                background: rgba(205,154,154,0);
                background: linear-gradient(90deg,rgba(205,154,154,0) 0%, #2c2c2c 80%);
                background: -webkit-linear-gradient(90deg,rgba(205,154,154,0) 0%, #2c2c2c 80%);
                background: -moz-linear-gradient(90deg,rgba(205,154,154,0) 0%, #2c2c2c 80%);

                .link{
                    list-style: none;
        
                    animation-name: links-index;
                    animation-duration: 1s;
            
                    @keyframes links-index {
                        0%{
                            transform: translate(0px, -50px);
                        }
            
                        50%{
                            transform: translate(0px, -50px);
                        }
            
                        100%{
                            transform: translate(0px, 0px);
                        }
                    }

                    a{
                        font-size: 1.5rem;
                        color: rgb(179, 168, 152);
                        text-decoration: none;
                        font-family: 'Goldman', cursive;
                        font-family: 'Gruppo', cursive;
                        font-weight: bold;
                        text-shadow: 2px 2px 4px #000000;
                    }

                    a:hover{
                        font-size: 1.75rem;
                        transition: font-size 0.5s ease; /* Transición de medio segundo */
                    }

                    a:not(:hover){
                        font-size: 1.5rem;
                        transition: font-size 0.5s ease;
                    }
                }

                .paganilogo{
                    list-style: none;
                            
                    animation-name: links-index;
                    animation-duration: 1s;
            
                    @keyframes links-index {
                        0%{
                            transform: translate(0px, -50px);
                        }
            
                        50%{
                            transform: translate(0px, -50px);
                        }
            
                        100%{
                            transform: translate(0px, 0px);
                        }
                    }

                    img{
                        height: 25px;
                    }
                }
            }
        }
    }
}

.main-index{

    .h1-index{
        text-align: center;
        font-size: 2.5rem;
        color: $color-home;
        margin-top: 3rem;
        text-shadow: 2px 2px 4px #000000;
        
        animation-name: home;
        animation-duration: 5s;

        @keyframes home {
            0%{
                opacity: 0%;
            }

            50%{
                opacity: 0%;
                font-size: 3rem;
            }

            100%{
                opacity: 100%;
            }
        }
    }

    .contenedor-index{
        font-size: 6rem;
        font-family: 'Great Vibes', cursive;
        color: $color-home;
        /* dipley flex */
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-top: 8.5rem;
        text-shadow: 2px 2px 4px #000000;



        .h2-index{

            animation-name: utopia;
            animation-duration: 3s;

            @keyframes utopia {

                0%{
                    opacity: 0%;
                    font-size: 10rem;
                }
                
                100%{
                    opacity: 100%;
                }
            }
        }

        .h3-index{

            animation-name: enciende;
            animation-duration: 3s;

            @keyframes enciende {

                0%{
                    opacity: 0%;
                }
                
                50%{
                    opacity: 0%;
                    font-size: 8rem;
                }

                100%{
                    opacity: 100%;
                }
            }
        }
    }
}

.contenedor-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .h4-index{
        color: rgba(240, 248, 255, 0.281);
        position: fixed;
        bottom: 2px;
        left: 8px;
              
        animation-name: h4index;
        animation-duration: 1s;

        @keyframes h4index {
            0%{
                transform: translate(0px, 50px);
            }

            50%{
                transform: translate(0px, 50px);
            }

            100%{
                transform: translate(0px, 0px);
            }
        }
    }

    .contenedor-redes{
        position: fixed;
        bottom: 2px;
        right: 8px;
            
        animation-name: redes;
        animation-duration: 1s;

        @keyframes redes {
            0%{
                transform: translate(0px, 50px);
            }

            50%{
                transform: translate(0px, 50px);
            }

            100%{
                transform: translate(0px, 0px);
            }
        }

        a{
            text-decoration: none;
            margin: 2px;

            img{
                width: 40px;
                height: 40px
            }
        }

        div{
            .item-fixed1, .item-fixed2, .item-fixed3, .item-fixed4{
                height: 2rem;
            }
        }
    }
}


/* PC */
@media screen and (min-width:851px){

    @include chau-menu-hamburguesa
    
}

/* tablets */
@media screen and (max-width:850px){

    .contenedor-footer{
        .contenedor-redes{
            display: none;
        }
    }

    header{
        div{
            nav{
                .banner{
                    .link{
                        display: none;
                    }
                }
            }
        }
    }

    .main-index{
        .contenedor-index{
            margin-top: 11rem;
            font-size: 5rem;

            .h3-index{

                animation-name: enciende;
                animation-duration: 3s;
    
                @keyframes enciende {
    
                    0%{
                        opacity: 0%;
                    }
                    
                    50%{
                        opacity: 0%;
                        font-size: 6.7rem;
                    }
    
                    100%{
                        opacity: 100%;
                    }
                }
            }
        }   
    }
}

/* celulares */
@media screen and (max-width:500px){

    .main-index{
        .h1-index{
            font-size: 2rem;
        }        
    }

    .main-index{
        .contenedor-index{
            font-size: 3.5rem;
            margin-top: 13rem;

            .h3-index{

                animation-name: enciende;
                animation-duration: 3s;
    
                @keyframes enciende {
    
                    0%{
                        opacity: 0%;
                    }
                    
                    50%{
                        opacity: 0%;
                        font-size: 5rem;
                    }
    
                    100%{
                        opacity: 100%;
                    }
                }
            }
        }
    }
    
    .contenedor-footer{
        .h4-index{
            font-size: 10px;
        }        
    }
}